[Desktop Entry]
Type=Service
MimeType=all/all;
Actions=QuickView;
X-KDE-Priority=TopLevel

[Desktop Action QuickView]
Name=Quick Look
Icon=document-preview
Exec=@DIR@/bin/quickview %U
